.category-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.category-img:hover {
  transform: scale(1.05);
}

.category-item {
  cursor: pointer;
}
